@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

#myQuillContainer {
  font-family: "Inter", sans-serif;
  margin-bottom: 1em;
}

.quill .ql-container.ql-snow {
  height: auto;
}

.quill .ql-editor {
  height: 500px;
  overflow-y: scroll;
}
